@import 'variables.scss';

.album {
    display: flex;
    border-radius: 10px;
    padding: 22px 16px;
    margin: 8px 0;
    background-color: #ffffff;
    position: relative;

    &__slider {
        transform-origin: 0 0 0;
        &--horizontal{
            
        }
        &--1 {
            position: absolute;
            top: 0;
        }
    }

    &__texts-container {
        padding: 32px 0;
    }

    &__arrow-slider {
        position: inherit;
        top: 50;
        right: 0;
    }

}

.photo-container {
    position: relative;

    &__img {
        height: 500px;
        margin: 4px;
        border-radius: 10px;
    }
    &__text-container {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0), black);
        height: 100px;
        width: calc(100% - 8px);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        position: absolute;
        bottom: 0%;
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        align-items: end;
    }

    &__text {
        padding: 22px 16px;
        color: $secondary;
        font-family: 'NeueHaasDisplay-Medium';
        font-size: $title-2;
        letter-spacing: 2px;
    }
}

/*
.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}
*/

.mySwiper .swiper-slide {
    width: 40%;
    height: 100%;
    opacity: 0.5;
}

.mySwiper .swiper-slide-active {
    opacity: 1;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    background-color: black;
    opacity: 0.8;
    height: 15px;
    width: 15px;

    &-active {
        background-color: $secondary;
    }
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .MuiBackdrop-root {
        background-color: #000000e6;
    }

    &__gallery {
        width: 75%;
        height: 75%;
    }
}

@media screen and (max-width: 768px) {
    .mySwiper {
        width: 100%;

        .swiper-slide {
            width: 100%;
        }
    }
}